<h1><%= t 'errors.messages.inclusion' %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Due date</th>
    <th>Done</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th>Pending Assignments</th>
  </tr>
<%= render 'assignments', assignments: @pending_assignments  %>

  <tr>
    <th>Completed Assignments</th>
  </tr>
<%= render 'assignments', assignments: @completed_assignments %>

</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
